
p{
    color: red;
}

table{
    background-color: rgb(192, 230, 103);
    font-size: larger;
    text-align: center;
    border: 4px solid black;
}

th{
    color: rgb(10, 10, 140);
    border: 2px solid black;
}

td{
    color:red;
    border: 1px solid black;
}