 <!-- <p>
    I love angular
</p>

<hr>

 -----------------------------------------------------------------------------
sring interpolation -->          <!--  2nd day  -->  

<!-- <p *ngFor="let skill of array1">
    I love {{skill}}
</p>

<hr>

<ul>
    <li *ngFor="let skill of array1">
        i am {{skill}}
    </li>
</ul>

<hr> -->
 
<!-- ---------------------------------------------------------------------- 
 property binding [] -->           <!-- 3rd day -->  

<!-- <p [innerText]="pName">
</p>

<span [innerHTML]="sName">
</span>

<p [innerHTML]="'Neha'"> -->
<!-- </p> -->

<!-- <button class="btn btn-primary btn-lg mb-4" [disabled]="isdisable">
    Add Product
</button> -->
<!-- <hr> -->

<!-- <input type="text" [value]="rName" class="form-control mb-4"> -->

<!-- <input type="text" [value]="PId" class="form-control mb-4">  -->

<!-- <hr> -->
<!-- 
<p>
    i am angular developer"{{onImg()}}"
</p>

<hr>

<p>
   javascript is {{onJs()}}
</p>

<P>
   javascript is lightweight, interpreted object oriented having first class function is called ""{{javaScript()}}""
</P> -->

<!-- <hr> -->
<!-- ---------------------------------------------------------------------------- -->
<!--event binding() (manually two way databinding) --><!-- 4th day  --> 
                             <!-- or input -->
                               <!-- or input -->


<!-- or -->
<!-- <p [innerHTML]="searchProductName"></p> -->

<!-- <button class="btn btn-primary mb-4" [disabled]="isdisable" (click)="getProductStatus()">Add Product</button>

<p class="alert alert-info mb-4">
   {{productStatus}}
</p> -->

<!-- 4TH VIDEO -->

<!-- <div> -->
    <!-- <label for=""> Product search </label>
    <input type="text" class="form-control mb-4" (input)="onProductSearch($event)">
</div>


<p>
    {{searchProductName}}
</p>

<div>
    <label for=""> Product search </label>
    <input type="text" class="form-control mb-4" [(ngModel)]="searchProductName">
</div>

<div>
    <label for=""> Product search </label>
    <input type="text" class="form-control mb-4" [(ngModel)]="searchProductName">
</div>

<p [ngStyle]="{backgroundColor: getBgColor()}">
    
</p>


<button class="btn btn-primary mr-4 mb-4" [disabled]="isDisable" (click)="getProductStatus()">Add Product</button>

<button class="btn btn-primary mr-4 mb-4" [disabled]="noOfproduct === 0"  (click)="removeProductStatus()">Add Product</button>

<p class="alert alert-info mb-4"> -->
    <!-- {{productStatus}}
</p>

    

<hr>
<hr>
<hr>
<hr>

<hr>
<hr>

<hr> -->

<!-- <hr>/ -->






<!-- 
    
     *** Directives ***

which gives instruction to the dom
Components
Attribute Directive
structural Directive

-->

 <!-- <div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th> Name </th>
                <th> Population </th>
                <th> Area </th>
                <th> Capital </th>
                <th> Language </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let skill of countryinfo">
                <td>{{skill.name}}</td>
                <td>{{skill.population}}</td>
                <td>{{skill.area}}</td>
                <td>{{skill.capital}}</td>
                <td>{{skill.language}}</td>
            </tr>
        </tbody>
     </table> 
</div>  -->


<!-- ---------------------------------------------------------------------------- -->
<!--event binding() (manually two way databinding) --><!-- 4th day  --> 




<!-- <p [innerHTML]="searchProductName"></p> -->


<!-- Directive

>>  which gives instruction to the dom
                     component
                     Attrribute directives
                     structural directives

--> 